.container {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
}

.container:hover,
.active {
  background-color: #2e374a;
}

.menu-item-title {
  display: inline;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu-item-title {
    display: none;
  }
}

